@import "../globals.scss";
@import "./HomePgCompStyles/IntroPicsSec.scss";



.introPicsSec {
  height: 720px !important;
  @media(min-width: 768px) and (max-width: 991px){
    height: 820px !important;
  }

  @media(max-width: 767px){
    height: 715px !important;
  }
}

.introPicTxt {
  height: 75% !important;
  z-index: 10;
}

.introPicsSubSec {
  img {
    cursor: pointer;
  }
}

.hiAnimationTxt{
  @media(max-width: 767px){
    top: 50% !important;
    left: 50% !important;
  }
}

.hiTxt {
  width: 250px !important;
  @media(max-width: 767px){
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

.googleReviewsTxt{
  @media(max-width: 575px){
    min-width: 100vw
  }
}


.introPicHeading {
  font-size: 70px;
  font-style: normal;
  // width: 200px !important;
  // border: solid pink;s
  font-weight: 500;
  font-family: Roboto !important;

  @media(max-width: 767px){
    font-size: 55px !important;
  }

  @media(max-width: 575px){
    min-width: 100vw !important;
    font-size: 38px !important;
    // height: 150px !important;
  }
}

.txtSpan {
  border: solid green;
  // width: 185px !important
}

.infoTxtP {
  font-weight: 400;
  font-size: 21px;

  @media(max-width: 767px){
    font-size: 18px !important;
    min-width: 383px !important;
  }

  @media(max-width: 575px){
    font-size: 16px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-width: 100vw !important;
    padding: 10px 5px 0px 5px !important;
  }
}

.circleBtn {
  font-size: 26px !important;
}

// WHAT IS HAPPENING:
// the element start -100px left

// GOAL: make move from left to right (from -100px to 0px)

.slide-out {
  transform: translateX(-100%);
}

.slide-in {
  animation: slide 0.5s forwards;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slideRight {
  transform: translateX(-100px);
  animation: slideRight 2s forwards !important;
}


.slideLeft {
  // transform: translateX(100px);
  // transform: translate(100px, -50%);
  animation: slideLeft 2s forwards !important;
}

.slideUp {
  transform: translateY(105px);
  animation: slideUp 2s forwards !important;
}

.slideUpBookNowBtn{
  transform: translateY(90px);
  animation: slideUpBookNowBtn 2s forwards !important;
}

.hospitalityTxt{
  @media(max-width: 767px){
    // border: solid pink !important;
    display: flex !important;
    min-width: 100vw !important;;
    justify-content: center !important;
    align-items: center !important;
  }
}

.makeReservationDiv {
  button {
    position: absolute !important;
    margin-top: 220px;
    width: 200px !important;
    height: 80px !important;

    @media(max-width: 991px){
      margin-top: 400px;
    }
  }
}

.businessMapSec {
}

.homePage{
  // width: fit-content !important;
  max-width: 2560px !important;
  overflow: hidden !important;;
   *{
    // border: solid pink !important;

  }
}

@keyframes slideUpBookNowBtn {
  100% {
    transform: translateY(50px);
  }
}

@keyframes slideUp {
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.introPicTxtInnerSec {
  @media (min-width: 576px){
    height: 100px;
  }
  @media(max-width: 575px){
    min-width: 100vw !important;
  }
}

.roomsMainSec,
.pitchSec {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: $card-color;
}

.pitchSec{
  @media(max-width: 575px){
    width: 80% !important;;
    min-width: 260px !important;
  }
}

.roomsList {
  column-count: 2;

  @media(max-width: 1023px){
    column-count: 1;
  }
}

.reviewsMainSec{
  @media(max-width: 575px){
    display: flex !important;
    // width: 80% !important; 
    // min-width: 260px !important;
  }
}

.homePgInfoSec {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  border-radius: 20px;
  background: $card-color;
}

.homePgCardColor {
  background: $card-color !important;

  @media(max-width: 575px){
    width: 800px !important;
  }
}

.txtHospitalitySec {
  position: absolute;
  top: 60px;
  @media (min-width: 768px) {
    left: 50px !important;
  }
}

.ourRoomsSec {
  height: fit-content;
  @media(max-width: 575px){
    width: 80% !important;;
    min-width: 260px !important;
  }
}

.reviewsCard {
  @media(max-width: 575px){
    width: 80%!important;
    min-width: 260px!important;
  }
}

.roomMainSec {
  img {
    width: 100%;
    height: 300px;
  }
}

.ourRoomsImg {
  width: 100px;
  height: 90px;
}

.hospitalitySec {
  height: 800px;

  @media (max-width: 575px) {
    height: 1460px;
  }
}

.hospitalitySecImg {
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media(min-width: 1024px){
  .cardRoomSpacingRow{
    margin-top: 20px !important
  }
}

@media(max-width: 1023px){

  .liCardContainer:not(:first-child){
    margin-top: 20px !important;
  }

  .card-title{
    text-align: center;
  }

  .card-text{
    text-align: center;
  }
}


.cardStyles{
  max-width: 817px !important;
  @media(min-width: 1024px){
    width: 65% !important;
  }

  @media(max-width: 1023px){
    width: 60% !important;

    .cardStyles:not(:first-child){
      margin-top: 20px;
    }
  }

  @media(min-width: 768px) and (max-width: 1023px){
   
  }

  @media(max-width: 575px){
    min-width: 240px !important;
  }
}

.reviewsTxt{
  @media(max-width: 575px){}
  font-size: 20px !important;
  text-align: center !important;;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapImg{
  width: 75% !important;
  @media(max-width: 575px){
    width: 90% !important;
    height: 200px !important;
  }
}

