@import '../globals.scss';



.introPicsSec {
  height: 720px !important;
}

.introPicTxt{
  // border: solid pink !important;
  z-index: 10;
}

.introPicsSubSec {
  img {
    cursor: pointer;
  }
}

.hiTxt{
  width: 250px !important;
  transform: translate(370px, 100px);
  // border: solid pink !important;
}

.introPicHeading{
  font-size: 70px;
  font-style: normal;
  // width: 200px !important;
  // border: solid pink;s
  font-weight: 500;
  font-family: Roboto !important;
}

.txtSpan{
  border: solid green;
  // width: 185px !important
}

.infoTxtP{
  font-weight: 400;
  font-size: 21px;
}

.circleBtn{
  font-size: 26px !important;
}

// WHAT IS HAPPENING:
// the element start -100px left

// GOAL: make move from left to right (from -100px to 0px)

.slideRight {
  transform: translateX(-100px);
  animation: slideRight 2s forwards !important;
}

.slideLeft {
  transform: translateX(100px);
  animation: slideLeft 2s forwards !important;
}

.slideUp{
  transform: translateY(105px);
  animation: slideUp 2s forwards !important
}

@keyframes slideUp {
  // 0% { transform: translateY(105px)}
  100% { transform: translateY(0px) }
}

@keyframes slideRight {
  0% { opacity: 0}
  100%{ opacity: 1; transform: translateX(0px)}
}

@keyframes slideLeft {
  0% { opacity: 0}
  100%{ opacity: 1; transform: translateX(0px)}
}

.introPicTxtInnerSec{
  // width: 00px !important;
  height: 100px;
}

// .introPicTxtInnerSec{
//   width: fit-content !imp
// }

.roomsMainSec,
.pitchSec {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 600px;
  border-radius: 20px;
  background: $card-color;
}

.roomsList{
  column-count: 2;
}



.homePgInfoSec{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  border-radius: 20px;
  background: $card-color;
}

.ourRoomsSec{
  height: fit-content;;
}

.roomMainSec {
  img{
    width: 100%;
    height: 300px;
  }
}

.ourRoomsImg{
  width: 100px;
  height: 90px;
}

.hospitalitySec{
  height: 700px;
}


