.reservationsPg{
 min-height: 600px !important;
 padding-top: 60px !important;
}

.inputFieldHeaderTitle{
    height: 30px !important;
}

.reservationInputField{
    height: 125px !important;
    border-radius: 1.3em;
}

.reservationInputFieldSec{
    height: 300px !important;
}

