.calenderStyles {
  width: 30% !important;

  button {
    background: none;
    border: none;
  }
}

.react-calendar__month-view__weekdays__weekday{
    // border-bottom: silver .3 solid !important;;
    text-align: center;
    abbr{
        text-decoration: underline !important;;
    }
}

.react-calendar__month-view__days__day--weekend{
}

.react-calendar__month-view__days__day--neighboringMonth{
    opacity: .3 !important;
}

